 body {
        font-family: Arial, sans-serif;
        background-image: url('img/fon.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        color: #333;
        margin: 0; 
        padding: 0; } 

header { 
    background-color: #ff9100; 
    color: white; 
    text-align: center; 
    padding: 1em 0; } 

nav ul { 
    list-style-type: none; 
    display: flex; 
    justify-content: space-evenly; 
    background-color: #ffae00; 
    padding: 0.5em 0; } 

/* Дополнительно можно задать подчеркивание или фон */
.active a {
    text-decoration: underline;
    color: red;
}

.name { position: relative;
    width: auto; 
    height: auto;
    top: 50px;
    right: 70px}

.text-shadow{
  color: #000000;
  letter-spacing: .1em;
  text-shadow: 2px 2px #ff981d, 3px 3px rgba(200, 120, 22, .2);
}

nav a { color: white; text-decoration: none; } 

main { max-width: 80%; margin: auto; padding: 20px; } 

.product-card { 
    border: 1px solid #ccc; 
    padding: 20px; 
    margin-bottom: 20px; 
    background-color: white;
    border-radius: 40px;
} 

footer { 
    background-color: #ff9100; 
    color: white; 
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px 0; } 

.container { display: flex; justify-content: space-between; }

.img { width: 300px; 
    height: auto; 
    cursor: pointer; 
    transition: transform 0.2s ease-in-out;
     } 
.img:hover { transform: scale(1.1); } /* Стили для всплывающего окна */ 


.site-footer ul li i {
    margin-right: 5px;
}


.col-md-4 {
    flex-basis: 33.33%;
}


.product-card button {
    cursor: pointer;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
}


.product-square {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.product-square h3 {
    font-size: 20px;
    line-height: 1.2em;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.product-square img {
    width: 300px;
    height: 300px;  /* Ограничиваем размер изображения */
    object-fit: cover;
}

.product-square p {
    font-size: 16px;
    margin: 5px 0;
}

.product-square button {
    background-color: tomato;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

button:active {
    outline: none; /* Скрываем рамку вокруг фокуса */
    background-color: darkred; /* Меняем цвет фона при фокусировке */
}

#clearCartBtn {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 20px;
    background-color: white;
    color: tomato;
    border: none;
    cursor: pointer;
}

#clearCartBtn:hover {
    background-color: darkred;
}


.modal {
    display: none; /* Изначально скрыто */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}